extends layout

block content
  .login-container
    form(action="/login/loginAttempt" method="post" class="login-form")
      h1 Login
      div(class="txtb" id="usernameBox")
        input(type="email" name="email")
        span(data-placeholder="Email")
      div(class="txtb" id="passwordBox")
        input(type="password" name="password")
        span(data-placeholder="Password")
      input(type="submit" class="logbtn" value="Login")
      .bottom-container
        span.bottom-text Don't have an accout yet? 
        a(id="login" href="#") Sign up