*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ion-icon {
  cursor: pointer;
}

div[contenteditable=true] {
  outline: 0px solid transparent;
}

body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  font-family: "montserrat", sans-serif;
}

.login-container {
  min-height: 100vh;
  background: linear-gradient(120deg, #002171, #a000ff);
}

.login-container .login-form {
  width: 360px;
  background: #f1f1f1;
  height: 580px;
  padding: 80px 40px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.login-container .login-form h1 {
  text-align: center;
  margin-bottom: 60px;
}

.login-container .login-form .txtb {
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px 0;
}

.login-container .login-form .txtb input {
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.login-container .login-form .txtb span::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
  -webkit-transition: .5s;
  transition: .5s;
}

.login-container .login-form .txtb span::after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  width: 0%;
  height: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(#002171), to(#a000ff));
  background: linear-gradient(#002171, #a000ff);
  -webkit-transition: .35s;
  transition: .35s;
}

.login-container .login-form .txtb::after {
  content: '';
  width: 100%;
  height: 105%;
  z-index: -1;
  position: absolute;
  border-radius: 4px 4px 0 0;
  right: 0;
  background: rgba(255, 65, 54, 0.5);
  opacity: 0;
}

.login-container .login-form .inputWrong {
  -webkit-animation-name: spaceboots;
          animation-name: spaceboots;
  -webkit-animation-duration: .35s;
          animation-duration: .35s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.login-container .login-form .inputWrongColor::after {
  opacity: 1;
  -webkit-transition: opacity .25s ease-out;
  transition: opacity .25s ease-out;
}

.login-container .login-form .inputWrongColor2::after {
  opacity: 0;
}

@-webkit-keyframes spaceboots {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes spaceboots {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
  }
}

.login-container .login-form .focus + span::before {
  top: -5px;
}

.login-container .login-form .focus + span::after {
  width: 100%;
}

.login-container .login-form .logbtn {
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  background: linear-gradient(120deg, #002171, #a000ff);
  background-color: rgba(0, 0, 0, 0);
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.login-container .login-form .logbtn:hover {
  background-position: right;
}

.login-container .login-form .bottom-text {
  margin-top: 60px;
  text-align: center;
  font-size: 13px;
}

.alert-box {
  width: auto;
  height: auto;
  color: white;
  background-color: #1565c0;
  -webkit-box-shadow: 0 0 10px #222222;
          box-shadow: 0 0 10px #222222;
  border-radius: 12px;
  z-index: 9999;
  position: absolute;
  margin: 16px;
  padding: 8px;
  top: -100px;
  right: 0;
  opacity: 0;
  display: block;
  font-size: 1em;
  font-weight: bold;
  -webkit-transition: top 0.5s ease-out 0s;
  transition: top 0.5s ease-out 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.alert-box ion-icon {
  cursor: pointer;
}

.showAndfadeOut {
  -webkit-animation: fadeOut 3s linear forwards;
          animation: fadeOut 3s linear forwards;
  top: 0px;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.opacityVisible {
  opacity: 1;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  height: 100%;
  width: 100%;
}

.main .button-Container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .button-Container .buttons {
  width: 80%;
  min-height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .button-Container .buttons #coordinates, .main .button-Container .buttons #hoveredPolygons {
  height: 200px;
}

.main .app-Container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  max-height: 100%;
  background-color: #F3F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .app-Container #drawBoard, .main .app-Container #imageBoard {
  position: absolute;
  border: 1px solid grey;
  background-color: rgba(0, 0, 0, 0);
}

.main .app-Container #drawBoard {
  background-color: rgba(0, 0, 0, 0);
}

.main .app-Container #imageBoard {
  background-color: white;
}

.main .crosshair {
  cursor: crosshair;
}

.main .shift-pressed {
  cursor: move;
}

.polygon-wrapper {
  position: absolute;
  overflow: auto;
  overflow-y: hidden;
  -webkit-box-shadow: 0 0 10px #7e7e7e;
          box-shadow: 0 0 10px #7e7e7e;
  border-radius: 10px;
  bottom: 0px;
  right: 0px;
  height: 580px;
  width: 360px;
  margin: 16px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 92% 95%;
          transform-origin: 92% 95%;
  -webkit-transition: -webkit-transform .25s ease-out;
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.polygon-wrapper.openWrapper {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.polygon-wrapper .polygon-editor {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 20% 30% 45% 5%;
      grid-template-rows: 20% 30% 45% 5%;
  background-color: #f1f1f1;
  padding: 60px 40px 40px 40px;
  border-radius: 10px;
  border: 1px solid black;
  height: 0px;
  width: 0px;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

.polygon-wrapper .polygon-editor.openEditor {
  height: 100%;
  width: 100%;
}

.polygon-wrapper .polygon-editor ion-icon {
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.polygon-wrapper .polygon-editor ion-icon:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.polygon-wrapper .polygon-editor .custom-select {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  position: relative;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* style the items (options), including the selected item: */
  /* Style items (options): */
  /* Hide the items when the select box is closed: */
}

.polygon-wrapper .polygon-editor .custom-select select {
  display: none;
}

.polygon-wrapper .polygon-editor .custom-select .select-selected {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1.2em;
  width: 100%;
  border-radius: 5px;
  background: white;
}

.polygon-wrapper .polygon-editor .custom-select .select-selected > * {
  padding: 0px 5px;
}

.polygon-wrapper .polygon-editor .custom-select .select-selected .selected-text {
  display: inline-block;
  min-width: 5px;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.polygon-wrapper .polygon-editor .custom-select .select-selected .selected-text::-webkit-scrollbar {
  display: none;
}

.polygon-wrapper .polygon-editor .custom-select .select-selected::after {
  position: absolute;
  content: "";
  top: 10px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000 transparent transparent transparent;
}

.polygon-wrapper .polygon-editor .custom-select .select-selected.select-arrow-active::after {
  border-color: transparent transparent #000 transparent;
  top: 6px;
}

.polygon-wrapper .polygon-editor .custom-select .select-items div, .polygon-wrapper .polygon-editor .custom-select .select-selected {
  padding: 4px 8px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.polygon-wrapper .polygon-editor .custom-select .select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.polygon-wrapper .polygon-editor .custom-select .select-items > * {
  overflow: hidden;
}

.polygon-wrapper .polygon-editor .custom-select .select-hide {
  display: none;
}

.polygon-wrapper .polygon-editor .custom-select .select-items div:hover, .polygon-wrapper .polygon-editor .custom-select .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.polygon-wrapper .polygon-editor .attribute-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.polygon-wrapper .polygon-editor .attribute-container #attributeInput {
  border: none;
  margin: 8px 0px;
  border-bottom: 2px solid #adadad;
  font-size: 15px;
  color: #333;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.polygon-wrapper .polygon-editor .attribute-container .attributes-list {
  width: 100%;
  height: 40px;
  margin: 8px 0px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.polygon-wrapper .polygon-editor .attribute-container .attributes-list::-webkit-scrollbar {
  background: #ddd;
  height: 5px;
}

.polygon-wrapper .polygon-editor .attribute-container .attributes-list::-webkit-scrollbar-track {
  border-radius: 8px;
}

.polygon-wrapper .polygon-editor .attribute-container .attributes-list::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 4px;
}

.polygon-wrapper .polygon-editor .attribute-container .attributes-list .attribute {
  padding: 4px 8px;
  margin: 0px 4px;
  color: #000;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px;
  -webkit-transition: 1s;
  transition: 1s;
}

.polygon-wrapper .polygon-editor .attribute-container .attributes-list .attribute .attribute-text {
  padding: 0px 6px;
}

.polygon-wrapper .polygon-editor .text-container {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 90%;
      grid-template-rows: 10% 90%;
}

.polygon-wrapper .polygon-editor .text-container .text-title {
  color: #333;
  margin: 8px 0px;
}

.polygon-wrapper .polygon-editor .text-container .text-input {
  background-color: #fff;
  border-radius: 5px;
  color: #333;
  margin: 16px 0px;
  outline: none;
}

#toggleEditor {
  position: absolute;
  z-index: 9000;
  height: 30px;
  width: 30px;
  bottom: 0;
  right: 0;
  margin: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#toggleEditor #editorClosedIcon, #toggleEditor #editorOpenIcon {
  position: absolute;
  height: 100%;
  width: 100%;
}

#toggleEditor ion-icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.deletePolygon {
  position: absolute;
  right: 60px;
  bottom: 0px;
  z-index: 9000;
  height: 30px;
  width: 30px;
  margin: 24px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: 200% 50%;
          transform-origin: 200% 50%;
  -webkit-transition: -webkit-transform .25s ease-out;
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.showIcon {
  height: 30px;
  width: 30px;
}

.hideIconBySize {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.hideIcon {
  visibility: hidden;
}

.testME, .testMeMORE {
  color: #00B7FF;
}

.testMeMORE {
  color: green;
}
/*# sourceMappingURL=style.css.map */