
$primary_main: #0d47a1;
$primary_light: #5472d3;
$primary-dark: #002171;
$primary_deep: #001f3f;
$secondary-main: #bdbdbd;
$secondary-light: #efefef;
$secondary-dark: #8d8d8d;
$bg-gradient: linear-gradient(#002171, #a000ff);
$bg-gradient-120: linear-gradient(120deg, #002171, #a000ff);
$check-green: #2ECC40;
$check-green-dark: rgb(3, 110, 16);


$nice-gradient: linear-gradient(120deg,#3498db,#1565c0,#3498db);

@mixin mainGradient($degree) {
  background: linear-gradient($degree, rgba(13,71,161,1) 50%, rgb(32, 79, 233) 100%);
}

@mixin niceGradient($degree) {
  background: linear-gradient($degree,#3498db,#1565c0,#3498db);
}

@mixin flexCenter($direction, $justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-direction: $direction;
}

*{
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

ion-icon {
  cursor: pointer;
}

div[contenteditable=true] {
  outline: 0px solid transparent;
}

body {
  text-decoration: none;
  width: 100vw;
  height: calc(100vh - 1px);
  max-width: 100%;
  font-family: "montserrat", sans-serif;
  overflow: hidden;
}

.login-container {
  min-height: 100vh;
  background: $bg-gradient-120;
  font-size: 18px;


  .login-form {
    width: 560px;
    background: #f1f1f1;
    height: 680px;
    padding: 80px 60px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 2;
    transition: height 1s ease-out;

    #adminCheck {
      height: 20px;
      width: 20px;
      margin-bottom: 20px;
      margin-right: 20px;
    }
    label {
      color: #545454;
    }

    h1 {
      text-align: center;
      margin-bottom: 80px;
    }

    .txtb {
      border-bottom: 2px solid #adadad;
      position: relative;
      margin: 30px 0;
    
      input{
        font-size: 15px;
        color: #333;
        border: none;
        width: 100%;
        outline: none;
        background: none;
        padding: 0 5px;
        height: 40px;
      }

      span::before{
        content: attr(data-placeholder);
        position: absolute;
        top: 50%;
        left: 5px;
        color: #adadad;
        transform: translateY(-50%);
        z-index: -1;
        transition: .5s;
      }

      span::after {
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        width: 0%;
        height: 2px;
        background: $bg-gradient;
        transition: .35s;
      }
    }
    .txtb::after {
      content: '';
      width: 100%;
      height: 105%;
      z-index: -1;
      position: absolute;
      border-radius: 4px 4px 0 0;
      right: 0;
      background: rgba(255, 65, 54, 0.5);
      //box-shadow: inset 0 0 1pt 2pt rgb(143, 13, 13);
      opacity: 0;
    }
    .inputWrong {
      animation-name: spaceboots;
      animation-duration: .35s;
      transform-origin: 50% 50%;
      animation-iteration-count: 1;
      animation-timing-function: ease-in-out;
    }
    .inputWrongColor::after {
      opacity: 1;
      transition: opacity .25s ease-out;
    }
    .inputWrongColor2::after {
      opacity: 0;
    }
    @keyframes spaceboots {
      0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
      10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
      20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
      30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
      40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
      50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
      60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
      70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
      80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
      90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
      100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
    }
    .focus + span::before{
      top: -5px;
    }

    .focus + span::after{
      width: 100%;
    }

    .logbtn{
      display: block;
      width: 100%;
      height: 50px;
      border: none;
      background: $bg-gradient-120;
      background-color: rgba(0,0,0,0);
      background-size: 200%;
      color: #fff;
      outline: none;
      font-size: 18px;
      cursor: pointer;
      transition: .5s;
    }
    .success {
      color: #000;
      background: $check-green;
    }

    .logbtn:hover {
      background-position: right;
    }

    .bottom-container{
      margin-top: 60px;
      text-align: center;
      font-size: 20px;

      a {
        color: $primary_main;
        text-decoration: none;
      }
    }
  }
  .hide {
    opacity: 0;
  }
  .bigger {
    height: 860px;
  }

  .show {
    opacity: 1;
  }
}

.alert-box {
  width: auto;
  height: auto;
  color: white;
  background-color: #1565c0;
  box-shadow: 0 0 10px rgb(34, 34, 34);
  border-radius: 12px;
  z-index: 9999;
  position: absolute;
  margin: 16px;
  padding: 8px;
  top: -100px;
  right: 0;
  opacity: 0;
  display: block;
  font-size: 1em;
  font-weight: bold;
  transition: top 0.5s ease-out 0s;
  @include flexCenter(column, space-around);

  ion-icon {
    cursor: pointer;
  }
}

.showAndfadeOut {
  animation: fadeOut 3s linear forwards;
  top: 0px;
}

@keyframes fadeOut {
  0% {opacity: 0;}
  5% {opacity: 1;}
  80% {opacity: 0.5;}
  100% {opacity: 0;}
}

.opacityVisible {
  opacity: 1;
}
.contactDisplay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(51, 51, 51, 0.5); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;

  .contactInner {
    height: 70%;
    width: 50%;
    padding: 30px;
    border: 1px solid $primary_deep;
    background: #3d3d3d;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    .contactMailContainer {
      width: 100%;
      height: 100%;
      @include flexCenter(row, center);

      span {
        font-size: x-large;
        color: #f1f1f1;
      }
    }

    .contactMailInputContainer {
      @include flexCenter(row, center);
  
      #adminContactMailInput {
        height: 50%;
        width: 70%;
        padding: 0 10px;
        border: 1px solid #3d3d3d;
  
        &:focus {
          outline: none;
        }
      }
  
      #submitContactMail {
        cursor: pointer;
        outline: none;
        background: #111111;
        color: #f1f1f1;
        font-weight: 600;
        border: 1px solid #3d3d3d;
        width: 20%;
        height: 50%;
        transition: all .3s ease;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility:    hidden;
        -ms-backface-visibility:     hidden;
      
        &:hover {
          border: none;
          color: #f1f1f1;
          background: $check-green-dark;
        }
      }
    }
  }
}

.shortcutsDisplay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(51, 51, 51, 0.5); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;

  .shortcutsInner {
    height: 70%;
    width: 50%;
    padding: 30px;
    border: 1px solid $primary_deep;
    background: #3d3d3d;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    .shortcut {
      width: 100%;
      font-size: x-large;
      color: #f1f1f1;
      padding: 20px 0;
      max-height: 40px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-top: 1px solid #000;
      
      span {
        font-weight: 600;
        line-height: 25px;
        height: 100%;
      }
    }
  }
}

.loadScreen {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(51, 51, 51, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;

  .loadControls {
    min-height: 100px;
    width: 50%;
    border: 5px solid $primary_deep;
    background: #f1f1f1;
    padding: 0 20px;
    @include flexCenter(row, center);

    .dropdown {
      position: relative;
      display: inline-block;
      margin-right: auto;

      .dropbtn {
        background-color: $primary_deep;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: $primary-dark;
        }
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: $secondary-dark;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);


        a {
          color: black;
          padding: 12px 16px;
          border-bottom: 1px solid #111111;
          text-decoration: none;
          display: block;

          &:hover {
            background-color: $secondary-main;
          }
        }
      }
      .show {
        display: block;
        z-index: 2;
      }
    }

  }

  .loadSetContainer {
    height: 70%;
    width: 50%;
    border: 5px solid $primary_deep;
    background: #3d3d3d;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: auto;
    position: relative;

    .set-container {
      max-height: calc((100% / 4) - 30px);
      max-width: calc((100% / 4) - 30px);
      margin: 15px;
      display: grid;
      position: relative;
      transition: all .3s ease;

      span {
        font-weight: 600;
        height: 100%;
        width: 100%;
        text-align: center;
        color: #f1f1f1;
      }

      img {
        grid-column: 1;
        grid-row: 1;
        max-width: 50%;
        max-height: 50%;
        position: relative;
        top: 5px;
        margin-left: auto;
        margin-right: auto;
        -webkit-user-select: none; /* webkit (safari, chrome) browsers */
        -moz-user-select: none; /* mozilla browsers */
        -khtml-user-select: none; /* webkit (konqueror) browsers */
        -ms-user-select: none;
      }
      .imageSet-folder {
        height: 100%;
        width: 100%;
        min-width: 100px;
        min-height: 100px;
        grid-column: 1;
        grid-row: 1;
        z-index: 1;
        position: relative;
        top: 15px;

      }

      &:hover {
        transform: scale(1.1);

        path {
          box-shadow: 0px 0px 79px 42px rgba(0,0,0,0.66);
        }
      }
    }

  }
}

.uploadScreenDecision {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(51, 51, 51, 0.5);
  display: flex;
  align-items: center;
  z-index: -1;

  .uploadScreenDecision-buttons {
    width: 70%;
    height: 50%;
    margin: auto;
    border: 2px solid $primary_deep;
    background: #3d3d3d;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;

    input {
      width: 100%;
      height: 100%;
      opacity: 0;
      overflow: hidden;
      position: relative;
       bottom: 38px;
      cursor: pointer;
    }

    button, .folderUpload {
      width: 200px;
      height: 50px;
      border-radius: 20px;
      background: #f1f1f1;
      justify-self: center;
      color: inherit;
      border: none;
      padding: 5px;
      position: relative;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      transform: scale(1);
      transisition: .25s;

      &:hover {
        transform: scale(1.1);
      }
    }
  
    #fileUpload {
      grid-column: 1/2;
    }
    #folderUpload {
      grid-column: 2/3;
    }
  }
  
}

.uploadScreen {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(51, 51, 51, 0.5);
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .uploadImageContainer {
    height: 70%;
    width: 50%;
    border: 2px solid $primary_deep;
    background: #3d3d3d;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: auto;

    .newImage {
      height: calc((100% / 3) - 20px);
      width: calc((100% / 3) - 20px);
      margin: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;

      img {
        max-width: 100%;
        max-height: 100%;
        -webkit-user-select: none; /* webkit (safari, chrome) browsers */
        -moz-user-select: none; /* mozilla browsers */
        -khtml-user-select: none; /* webkit (konqueror) browsers */
        -ms-user-select: none;

      }

      .delete {
        position: relative;
        bottom: 10%;
        left: 45%;
        min-height: 30px;
        max-height: 50px;
        cursor: pointer;
        color: rgba(255, 0, 0, 0.6);

        &:hover {
          transform: scale(1.05);
          color: rgba(255, 0, 0, 1);
        }
      }

      ion-icon {
        cursor: default;
        height: 80%;
        width: 90%;
        color: #f1f1f1;
      }

      label {
        cursor: pointer;
        outline: none;
        text-align: center;
        background: none;
        color: #f1f1f1;
        font-weight: 400;
        line-height: 40px;
        border: 1px solid #f1f1f1;
        width: 90%;
        height: 15%;
        transition: all .3s ease;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility:    hidden;
        -ms-backface-visibility:     hidden;

        &:hover {
          border: none;
          color: #000;
          border-radius: 30px;
          background: #f1f1f1;
          transform: scale(1.05);
        }

        input {
          display: none;
        }
      }
    }

    .border {
      border: 2px solid #f1f1f1;
    }

    &::-webkit-scrollbar {
      background: rgb(70, 70, 70);
      height: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #ddd;
      border-radius: 4px;
    }
  }

  .uploadControls {
    min-height: 100px;
    width: 50%;
    border: 5px solid $primary_deep;
    background: #f1f1f1;
    padding: 0 20px;
    @include flexCenter(row, center);

    #imageSetTitle {
      height: 50%;
      width: 40%;
      padding: 0 10px;
      border: 1px solid #3d3d3d;

      &:focus {
        outline: none;
      }
    }

    #submitImageSet {
      cursor: pointer;
      outline: none;
      background: #111111;
      color: #f1f1f1;
      font-weight: 600;
      border: 1px solid #3d3d3d;
      width: 20%;
      height: 50%;
      transition: all .3s ease;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility:    hidden;
      -ms-backface-visibility:     hidden;
    
      &:hover {
        border: none;
        color: #f1f1f1;
        background: $check-green-dark;
      }
    }
  }
}
.cover {
  z-index: 100000;
}




.main {
  display: grid;
  grid-template-columns: 55px auto;
  grid-template-rows: minmax(50px, 4%) 11% 85%;
  height: 100%;
  width: 100%;

  .waitForSave {
    width: 100%;
    height: 100%;
    display: none;
    z-index: 99998;
    position: absolute;
    background-color: rgba(51, 51, 51, 0.5);

    .saveMessage {
      width: 300px;
      height: 150px;
      border-radius: 5px;
      background: #3d3d3d;
      margin: 20px;
      padding: 20px;
      
      p {
        color: #f1f1f1;
        display: block;
      }
    }
  
    ion-icon {
      width: 100px;
      height: 100px;
      color: #f1f1f1;
      animation: spin-load 1s linear;
      animation-iteration-count: infinite;
      animation-play-state: paused;
    }
  
    @keyframes spin-load {
      0% {transform: rotate(0);}
      50% {transform: rotate(180deg);}
      100% {transform: rotate(360deg);}
    }
  }

  .display {
    @include flexCenter(column, center);
  
    ion-icon {
      animation-play-state: running;
    }
  
  }

  .search-container {
    grid-column: 1/3;
    grid-row: 2/4;
    position: relative;
    max-height: 100%;
    display: flex;
    flex-direction: column;

    .search-settings {
      height: 15%;
      min-height: 200px;
      width: 100%;
      background: #4b6cb7;  /* fallback for old browsers */
      background: -webkit-linear-gradient( #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient( #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      display: grid;
      grid-template-areas: "users sets attributes confirm";
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) 150px;
      border-bottom: 1px solid #3c3c3c;

      #searchSettingsUser  {
        grid-area: users;
      }
      #searchSettingsSets {
        grid-area: sets;
      }
      #searchSettingsAttributes {
        grid-area: attributes;
      }
      #searchSettingsSearch {
        grid-area: confirm;
        margin: auto;
        min-width: 110px;
        
        button {
          grid-row: 2/3;
          justify-self: center;
          padding: 4px;
          height: 40px;
          width: 100px;
          text-align: center;
          font-size: 16px;
          font-weight: 600;
          border: none;
          border-radius: 5px;
          outline: none;
          cursor: pointer;
          -webkit-backface-visibility: hidden;
          -moz-backface-visibility:    hidden;
          -ms-backface-visibility:     hidden;
          transition: all .3s ease;

          &:hover {
            transform: scale(1.05);
          }

          #searchSetsSubmit-container {
            padding: 0 5px;
            display: inline-flex;
            align-items: center;

            span {
              color: #000;
              margin: 0 5px;
            }

            ion-icon {
              color: black;
            }
          }
        }
      }

      .search-setting {
        margin: 15px;
        position: relative;
        display: grid;
        grid-template-columns: 70% 100px;
        grid-template-rows: 1fr 40px 1fr;
        grid-row-gap: 10px;

        span {
          grid-column: 1/2;
          grid-row: 1/2;
          color: white;
          font-weight: 600;
          display: block;
          margin: 10px;
        }

        .andorswitch {
          grid-column: 2/3;
          grid-row: 1/2;
          position: relative;
          -webkit-user-select:none; 
          -moz-user-select:none; 
          -ms-user-select: none;

          #usersSwitch, #attributesSwitch {
            display: none;
          }
          .andorswitch-label {
            display: block; 
            overflow: hidden; 
            cursor: pointer;
            border: 2px solid ; 
            border-radius: 11px;
          }
          .andorswitch-inner {
            display: block; 
            width: 200%;
            margin: 0;
            margin-left: -100%;
            transition: margin 0.3s ease-in 0s;
          }
          .andorswitch-inner:before, .andorswitch-inner:after {
            display: block; 
            float: left; 
            width: 50%; 
            height: 30px; 
            padding: 0; 
            line-height: 30px;
            font-size: 15px; 
            color: white; 
            font-family: Trebuchet, Arial, sans-serif; 
            font-weight: bold;
            box-sizing: border-box;
          }
          .andorswitch-inner:before {
              content: "AND";
              padding-left: 11px;
              background-color: #000; 
              color: #f1f1f1;
          }
          .andorswitch-inner:after {
              content: "OR";
              padding-right: 11px;
              background-color: #f1f1f1; 
              color: #000;
              text-align: right;
          }
          .andorswitch-switch {
              display: block; 
              width: 28px;
              height: 53.5%;
              background: #FFFFFF;
              position: absolute; 
              top: 0; 
              bottom: 0;
              margin: 0;
              right: 67px;
              border: 2px solid #000; 
              border-radius: 11px;
              box-sizing: content-box;
              transition: all 0.3s ease-in 0s; 
          }
          #usersSwitch:checked + .andorswitch-label .andorswitch-inner {
            margin-left: 0;
          }
          #usersSwitch:checked + .andorswitch-label .andorswitch-switch {
            right: 0px; 
          }
          #attributesSwitch:checked + .andorswitch-label .andorswitch-inner {
            margin-left: 0;
          }
          #attributesSwitch:checked + .andorswitch-label .andorswitch-switch {
            right: 0px; 
          }
        }
        
        input {
          grid-column: 1/3;
          grid-row: 2/3;
          display: block;
          height: 100%;
          border: none;
          border-radius: 5px;
          border-bottom: 2px solid #adadad;
          font-size: 15px;
          color: #000;
          outline: none;
          background: #f1f1f1;
          padding: 0 5px;
        }
        .search-results-suggestions {
          position: absolute;
          grid-row: 3/4;
          height: auto;
          max-height: 300px;
          overflow: hidden;
          overflow-y: auto;
          width: 100%;
          z-index: 1;
          border-radius: 10px;
          display: none;

          &::-webkit-scrollbar {
            background:#fff;
            width: 10px;
          }
  
          &::-webkit-scrollbar-thumb {
            background: #000;
          }

          .suggestion {
            @include flexCenter(row, space-between);
            color: #f1f1f1;
            height: auto;
            width: 100%;
            padding: 5px 15px;
            font-weight: 600;
            background: $primary_deep;
            transition: .2s;
  
            &:hover {
              cursor: pointer;
              background: #020b90;
            }
  
            #text {
              max-width: 80%
            }
            #count {
              max-width: 20%;
            }
          }
        }
        .search-results-items {
          grid-column: 1/3;
          grid-row: 3/4;
          padding: 10px 0;
          overflow-x: auto;
          overflow-y: hidden;
          white-space: nowrap;

          &::-webkit-scrollbar {
            background: #ddd;
            height: 5px;
          }
  
          &::-webkit-scrollbar-thumb {
            background: #000;
            border-radius: 4px;
          }

          .result-item {
            padding: 4px 8px;
            margin: 0px 4px;
            background-color: #f1f1f1;
            display: inline-flex;
            flex-wrap: nowrap;
            align-items: center;
            border-radius: 16px;
            transition: .3s;
  
            .result-item-text {
              color: #000;
              padding: 0px 6px;
              margin: 3px;
            }
            ion-icon {
              color: #000;
            }
          }
        }
        .show {
          display: block;
        }
      }
    }
    .search-results {
      height: 100%;
      max-height: 100%;
      overflow: hidden;
      overflow-y: auto;
      width: 100%;
      background-color: #F3F3F3;

      &::-webkit-scrollbar {
        background:#fff;
        width: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background: #000;
      }

      .content-container {
        width: 100%;
        height: 200px;
        border-bottom: 1px solid #000;
        box-sizing: content-box;
        display: grid;
        grid-template-rows: 50px 150px;
        grid-template-columns: 100%;

        .content-container-title {
          grid-row:  1/2;
          grid-column: 1/2;
          width: 100%;
          display: contents;
          
          span {
            margin: 10px;
            font-weight: 600;
            line-height: 30px;
          }
        }
        .content-container-images {
          grid-row: 2/3;
          grid-column: 1/2;
          width: 100%;
          border-top: 1px solid #8a8686;
          background: #c7c7c7;
          overflow: hidden;
          overflow-x: auto;
          display: inline-flex;
          transition: .3s;

          &::-webkit-scrollbar {
            background:#fff;
            height: 8px;
          }
    
          &::-webkit-scrollbar-thumb {
            background: #000;
          }

          .content-result-image {
            height: calc(100% - 2px);
            min-width: calc(100% / 6);
            padding: 15px 10px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .3s ease;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility:    hidden;
            -ms-backface-visibility:     hidden;

            &:hover {
              background: #979797;

              img {
                transform: scale(1.05);
              }
            }

            img {
              max-width: 100%;
              max-height: 100%;
              -webkit-user-select: none; /* webkit (safari, chrome) browsers */
              -moz-user-select: none; /* mozilla browsers */
              -khtml-user-select: none; /* webkit (konqueror) browsers */
              -ms-user-select: none;
              transition: .3s;
            }
          }
        }
      }
    }
  }

  .navbar {
    position: relative;
    grid-rows: 1/2;
    grid-column: 1/3;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: $primary_deep;
    border-bottom: 1px solid $secondary-dark;
    @include flexCenter(row, space-between);



    #logo {
      cursor: pointer;
      svg {
        min-height: 0;
        margin-left: -35px;
        margin-bottom: -8px;
        transform: scale(0.5);
      }
    }

    .nav-upload, .nav-load {
      width: 100%;
      height: 100%;
      margin: 0 10px;
      display: flex;
    }
    .nav-load {
      justify-content: flex-start;
    }
    .nav-upload {
      justify-content: space-between;
    }

    .navbar-menu {
      position: absolute;
      right: 0;
      top: 110%;
      color: #000;
      background: #F3F3F3;
      margin-right: 5px;
      border-radius: 8px;
      border: 1px solid #000;
      text-align: center;
      z-index: 2;
      display: none;

      &::before {
        content: "";
        width: 20px;
        height: 20px;
        background: #F3F3F3;
        position: absolute;
        top: -7px;
        left: 89%;
        z-index: -10;
        transform: translateX(-100%) rotate(45deg);
      }

      hr {
        border-color: #000;
        margin: 0 10px;
        transition: .3s;
      }

      .menuOption {
        max-height: 100%;
        max-width: 100%;
        padding: 10px;
        font-weight: 600;
        @include flexCenter(row, center);

        &:hover {
          background: #000;
          cursor: pointer;

          & ~ hr {
            margin: 0;
          }

          a {
            color: #F3F3F3;

            ion-icon {
              color: #f3f3f3;
            }
          }
        }

        a {
          text-decoration: none;
          color: #000;
          padding: 0 10px;
          @include flexCenter(row, center);

          ion-icon {
            max-height: 25px;
            color: #000;
            transition: transform .4s;
    
            &:hover {
              transform: scale(1.05);
            }
          }
        }
      }
    }
    .open {
      display: block;
    }

    #loadImageSet, #uploadImageSet, #searchAnnotations {
      width: auto;
      height: 100%;
      padding: 8px 16px;
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      border: none;
      border-radius: 5px;
      outline: none;
      color: #000;
      cursor: pointer;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility:    hidden;
      -ms-backface-visibility:     hidden;
      transition: all .3s ease; 

      #loadImageSetContainer, #uploadImageSetContainer, #searchAnnotations-container {
        height: inherit;
        padding: 0 5px;
        display: inline-flex;
        align-items: center;

        ion-icon {
          padding-left: 10px;
          color: black;
          transform: scale(.65);
        }
      }
    }

    #loadImageSet:hover, #uploadImageSet:hover, #searchAnnotations:hover {
      transform: scale(1.03);
      background: rgb(240, 240, 240);
    }

    ion-icon {
      cursor: pointer;
      min-width: 40px;
      height: 40px;
      color: $secondary_light;
    }
    ion-icon:hover {
      color: rgb(255, 255, 255);
    }
  }

  .image-slider {
    grid-rows: 2/3;
    grid-column: 1/3;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient( #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-bottom: 1px solid #3c3c3c;

    @include flexCenter(row, space-between);

    .image-slider-images {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      display: inline-flex;

      .image-container {
        height: 100%;
        min-width: calc(100% / 6);
        position: relative;
        left: 0;
        padding: 15px 10px;
        //border-radius: 30px 30px 0 0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s ease;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility:    hidden;
        -ms-backface-visibility:     hidden;


        .lock {
          min-width: 100%;
          min-height: 100%;
          position: absolute;
          z-index: 99998;
          background-color: rgba(51, 51, 51, 0.5);
          @include flexCenter(row, center);

          &:hover {
            cursor: not-allowed;
          }

          .lock-content {
            min-width: 40%;
            min-height: 40%;
            background-color: #f1f1f1;
            font-weight: 600;
            text-align: center;
            padding: .5em;
            margin: 1em;
            border-radius: 10px;
          }
        }

        img {
          max-width: 100%;
          max-height: 100%;
          -webkit-user-select: none; /* webkit (safari, chrome) browsers */
          -moz-user-select: none; /* mozilla browsers */
          -khtml-user-select: none; /* webkit (konqueror) browsers */
          -ms-user-select: none;
        }

        ion-icon {
          min-height: 20px;
          max-height: 20%;
          max-width: 20%;
          position: absolute;
          top: 0;
          right: 0;
          color: #ce6262;
        }
      }

      .image-container:hover {
        border-bottom: 5px solid #182848;
        background: rgba(255, 255, 255, 0.1);
      }

      .waitForLoad {
        width: 100%;
        height: 100%;
        display: none;
        z-index: 99998;
        position: absolute;
        background-color: rgba(51, 51, 51, 0.5);
      
        ion-icon {
          width: 100px;
          height: 100px;
          margin: auto;
          color: #f1f1f1;
          animation: spin-load 1s linear;
          animation-iteration-count: infinite;
          animation-play-state: initial;
        }
      
        @keyframes spin-load {
          0% {transform: rotate(0);}
          50% {transform: rotate(180deg);}
          100% {transform: rotate(360deg);}
        }
      }

      .active {
        border-bottom: 5px solid $check-green-dark;
        background: rgba(255, 255, 255, 0.1);
      }
    }

    .arrow-left, .arrow-right {
      height: 100%;
      width: 90px;
      padding: 0 20px;
      transition: .3s ease;
    }
    .arrow-left:hover {
      box-shadow: inset 85px 0px 40px -80px rgba(0,0,0,.8);
    }
    .arrow-right:hover {
      box-shadow: inset -85px 0px 40px -80px rgba(0,0,0,.8);
    }

    ion-icon {
      height: 100%;
      width: 100%;
      cursor: pointer;
      color: rgba(255, 255, 255, .7);
      transform: scale(1.15);
      transition: .3s ease;
    }

    ion-icon:hover {
      color: rgba(255, 255, 255, 1);
      transform: scale(1.2);
    }
    #imageLast {
      padding-left: 10px;
    }

    #imageNext {
      padding-right: 10px;
    }
  }


  .leftbar {
    grid-column: 1/2;
    grid-row: 3/4;
    background: #F3F3F3;
    border-right: 1px solid #727272;
    display: flex;
    flex-direction: column;
  
    svg {
      fill: #000;
    }

    .shapes, .controls {
      display: flex;
      align-items: center;
      flex-direction: column;
      flex: 1 1 50%;
    }
    .controls {
      position: relative;
      left: 4px;
      justify-content: flex-end;
    }
    .controls #undo svg{
      transform: rotate(0);
      transition: transform .3s ease-out;
    }
    .controls #redo svg{
      transform: rotate(0);
      transition: transform .3s ease-out;
    }

    button {
      height: 80px;
      width: 100%;
      margin: 0px 17px 0px 0;
      border:none;
      background: none;
      cursor: pointer;

      svg {
        height: 100%;
        padding: 10px;
        width: 90%;
      }

      &:focus {
        outline:none;
      }
    }

    .disabled {
      height: 80px;
      width: 100%;
      margin: 0px 17px 0px 0;
      position: relative;
      z-index: 10;
      cursor: not-allowed;

      &:hover {
        button {
          cursor: not-allowed;
          svg {
            fill: red;
          }
        }
      }
    }

    .container{
      height: 80%;
      padding: 10px 0;
      border-radius: 0 10px 10px 0;
      transition: all .3s ease-out;
      svg {
        transform: scale(1);
        position: relative;
        left: 3px;
      }
    }

    .active {
      .container {
        background: #000;

        svg {
          transform: scale(1.2);
          fill: #f1f1f1;

          path {
            stroke: #f1f1f1;
            stroke-width: 2px;
          }
        }
      }
    }
    .shapes button:hover .container{
      background: #000;
      box-shadow: 5px 6px 14px -4px rgba(0, 0, 0, 0.5);
      svg {  
        transform: scale(1.2);
        fill: #f1f1f1;

        path {
          stroke: #f1f1f1;
          stroke-width: 2px;
        }
      }
    }

    .controls button:hover svg{
      transform: scale(1.2);

      path {
        stroke: #000;
        stroke-width: 2px;
      }
    }
    .controls #undo:hover svg{
      transform: rotate(-60deg);
    }
    .controls #redo:hover svg{
      transform: rotate(60deg);
    }
    
    #coordinates, #hoveredPolygons {
      height: 200px;
    }
  }

  .app-Container {
    grid-column: 2/3;
    grid-row: 3/4;
    position: relative;
    max-height: 100%;
    background-color: #F3F3F3;
    box-shadow: inset 2px 0 17px 5px rgba(0, 0, 0, 0.3);
    @include flexCenter(column, space-around);

    #drawBoard, #imageBoard {
      position: absolute;
      border: 1px solid grey;
      background-color: rgba(0, 0, 0, 0);
    }
    #drawBoard {
      background-color: rgba(0, 0, 0, 0);
    }
    #imageBoard {
      background-color: white;
    }
  }

  .crosshair {
    cursor: crosshair;
  }

  .shift-pressed {
    cursor: move;
  }
}

.cover-search {
  display: none;
  position: absolute;
  top: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background: rgba(20, 20, 20, 0.5);

  .display-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 80%;
    background: #f1f1f1;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 3fr;
    grid-template-columns: 1.8fr 1fr;
    min-height: 0;
    min-width: 0;

    .canvas-container {
      grid-row: 1/5;
      grid-column: 1/2;
      display: flex;
      align-items: center;
      overflow: hidden;
      min-width: 0;
    }

    #userSelect {
      grid-row: 1/2;
      grid-column: 2/3;
    }
    #annotationSelect {
      grid-row: 2/3;
      grid-column: 2/3;
      
      select {
        color: #000;

        &:-moz-focusring {
          color: transparent;
          text-shadow: 0 0 0 #000;
        }
      }
    }

    .select {
      position: relative;
      width: 90%;
      min-height: 60px;
      height: 50%;
      margin: auto;

      &::after {
        position: absolute;
        content: "";
        top: 40%;
        right: 10px;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-color: #f1f1f1 transparent transparent transparent;
      }
      //.select-selected.select-arrow-active::after {
      //  border-color: transparent transparent #000 transparent;
      //  top: 6px;
      //}

      select {
        width: 100%;
        height: 100%;
        cursor: pointer;
        padding-left: 15px;
        background: #3c3c3c;
        color: #f1f1f1;
        font-size: 18px;
        box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
        border-radius: 3px;
        outline: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none;

        &:-moz-focusring {
          color: transparent;
          text-shadow: 0 0 0 #fff;
        }

        option {
          cursor: pointer;

          &:checked {
            background: #2c2c2c;
          }
        }

        &:focus::-ms-value {
          background-color: transparent;
        }

        &::-ms-expand {
          display: none;
        }
      }
    }

    .attributes-list {
      grid-row: 3/4;
      grid-column: 2/3;
      width: calc(100% - 5px);
      border-top: 1px solid #3c3c3c;
      border-left: 1px solid #3c3c3c;
      border-right: 1px solid #3c3c3c;
      overflow: hidden;
      overflow-y: auto;
      padding: 10px;

      .attribute {
        border-radius: 20px;
        display: inline-block;
        margin: 10px;
        padding: 10px 15px;
        border: 1px solid #575757;
      }

      &::-webkit-scrollbar {
        background:#fff;
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background: #000;
      }
    }
    .text {
      grid-row: 4/5;
      grid-column: 2/3;
      width: calc(100% - 5px);
      border: 1px solid #3c3c3c;
      overflow: hidden;
      overflow-y: auto;
      padding: 10px;

      &::-webkit-scrollbar {
        background:#fff;
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background: #000;
      }
    }
  }
}
.show {
  display: block;
}

ion-icon { color: $primary_deep;}

.polygon-wrapper {
  position: absolute;
  overflow: auto;
  overflow-y: hidden;
  box-shadow: 0 0 10px #7e7e7e;
  border-radius: 10px;
  bottom: 0px;
  right: 0px;
  height: 580px;
  width: 360px;
  margin: 16px;
  transform: scale(0);
  transform-origin: 92% 95%;
  transition: transform .25s ease-out;

  &.openWrapper {
    transform: scale(1);
  }

  .polygon-editor {
    position: absolute;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 30% 45% 5%;
    background-color: #f1f1f1;
    padding: 60px 40px 40px 40px;
    border-radius: 10px;
    border: 1px solid black;
    height: 0px;
    width: 0px;
    transition: all .1s ease-out;

    &.openEditor {
      height: 100%;
      width: 100%;
    }

    ion-icon {
      transition: .2s;
      transform-origin: 50% 50%;
    }

    ion-icon:hover {
      transform: scale(1.3);
    }

    .custom-select {
      grid-row: 1/2;
      position: relative;
      height: 24px;
      @include flexCenter(column, center);

      select {
        display: none;
      }
      .select-selected {
        display: inline-flex;
        font-size: 1.2em;
        width: 100%;
        border-radius: 5px;
        background: white;

        #selectTextEdit:hover {
          transform: scale(1.1);
        }

        & > * {
          padding: 0px 5px;
        }

        .selected-text {
          display: inline-block;
          min-width: 5px;
          overflow-y: hidden;
          white-space: nowrap;
          user-select: none;

          &::-webkit-scrollbar {
            display: none;
          }
        }

      }
      .select-selected::after {
        position: absolute;
        content: "";
        top: 10px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #000 transparent transparent transparent;
      }
      .select-selected.select-arrow-active::after {
        border-color: transparent transparent #000 transparent;
        top: 6px;
      }
      /* style the items (options), including the selected item: */
      .select-items div,.select-selected {
        padding: 4px 8px;
        border: 1px solid transparent;
        border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
        cursor: pointer;
      }

      /* Style items (options): */
      .select-items {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;

        & > * {
          overflow: hidden;
        }
      }

      /* Hide the items when the select box is closed: */
      .select-hide {
        display: none;
      }

      .select-items div:hover, .same-as-selected {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    .attribute-container {
      grid-row: 2/3;
      position: relative;

      #attributeInput {
        border:none;
        margin: 8px 0px;
        border-bottom: 2px solid #adadad;
        font-size: 15px;
        color: #333;
        width: 100%;
        outline: none;
        background: none;
        padding: 0 5px;
        height: 40px;
      }

      .suggestions-list {
        position: absolute;
        height: auto;
        max-height: 300px;
        overflow: hidden;
        overflow-y: auto;
        width: 100%;
        top: 50px;
        z-index: 1;
        display: none;
        
        &::-webkit-scrollbar {
          background:#fff;
          width: 10px;
        }

        &::-webkit-scrollbar-track {
          border-radius: 8px;
        }

        &::-webkit-scrollbar-thumb {
          background: #000;
        }

        .attribute-suggestion {
          @include flexCenter(row, space-between);
          color: #f1f1f1;
          height: 35px;
          width: 100%;
          padding: 5px 15px;
          font-weight: 600;
          background: $primary_deep;
          transition: .2s;

          &:hover {
            cursor: pointer;
            background: #020b90;
          }

          #text {
            max-width: 80%
          }
          #count {
            max-width: 20%;
          }
        }
      }
      .show {
        display: block;
      }

      .attributes-list {
        width: 100%;
        height: 40px;
        margin: 8px 0px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;

        &::-webkit-scrollbar {
          background: #ddd;
          height: 5px;
        }

        &::-webkit-scrollbar-track {
          border-radius: 8px;
        }

        &::-webkit-scrollbar-thumb {
          background: #000;
          border-radius: 4px;
        }

        .attribute {
          padding: 4px 8px;
          margin: 0px 4px;
          color: #000;
          display: inline-flex;
          flex-wrap: wrap;
          align-items: center;
          border-radius: 16px;
          transition: .3s;

          .attribute-text {
            padding: 0px 6px;
          }
        }
      }
    }

    .text-container {
      grid-row: 3/4;
      display: grid;
      grid-template-rows: 10% 90%;
      position: relative;

      .text-title {
      color: #333;
      margin: 8px 0px;
      }

      .text-input {
        background-color: #fff;
        border-radius: 5px;
        color: #333;
        width: calc(100% - 40px);
        height: calc(100% - 32px);
        margin: 16px 0;
        outline: none;
      }
      #saveTextInput {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 30px;
        height: 40px;
        margin: 10px 0;

        &:hover {
          transform: scale(1.1);
        }
      }

      .saved {
        border-color: $check-green;
      }
    }
  }
}

#toggleEditor {
  position: absolute;
  z-index: 9000;
  height: 30px;
  width: 30px;
  bottom: 0;
  right: 0;
  margin: 24px;
  @include flexCenter(row, center);

  #editorClosedIcon, #editorOpenIcon {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  ion-icon:hover {
    transform: scale(1.1);
  }
}

.deletePolygon {
  position: absolute;
  right: 60px;
  bottom: 0px;
  z-index: 9000;
  margin: 24px;
  cursor: pointer;
  transform: scale(1);
  transform-origin: 200% 50%;
  transform: scale(1);
  transition: transform .25s ease-out;

  svg {
    fill: $primary_deep;
    transform: scale(1);
    transition: transform .25s ease-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.showIcon {
  height: 30px;
  width: 30px;

  svg {
    height: 30px;
    width: 30px;
  }
}

.hideIconBySize {
  transform: scale(0);
}

.hideIcon {
  visibility: hidden;
}
