* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ion-icon {
  cursor: pointer;
}

div[contenteditable=true] {
  outline: 0px solid transparent;
}

body {
  text-decoration: none;
  width: 100vw;
  height: calc(100vh - 1px);
  max-width: 100%;
  font-family: "montserrat", sans-serif;
  overflow: hidden;
}

.login-container {
  min-height: 100vh;
  background: linear-gradient(120deg, #002171, #a000ff);
  font-size: 18px;
}

.login-container .login-form {
  width: 560px;
  background: #f1f1f1;
  height: 680px;
  padding: 80px 60px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 2;
  -webkit-transition: height 1s ease-out;
  transition: height 1s ease-out;
}

.login-container .login-form #adminCheck {
  height: 20px;
  width: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.login-container .login-form label {
  color: #545454;
}

.login-container .login-form h1 {
  text-align: center;
  margin-bottom: 80px;
}

.login-container .login-form .txtb {
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px 0;
}

.login-container .login-form .txtb input {
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.login-container .login-form .txtb span::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
  -webkit-transition: .5s;
  transition: .5s;
}

.login-container .login-form .txtb span::after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  width: 0%;
  height: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(#002171), to(#a000ff));
  background: linear-gradient(#002171, #a000ff);
  -webkit-transition: .35s;
  transition: .35s;
}

.login-container .login-form .txtb::after {
  content: '';
  width: 100%;
  height: 105%;
  z-index: -1;
  position: absolute;
  border-radius: 4px 4px 0 0;
  right: 0;
  background: rgba(255, 65, 54, 0.5);
  opacity: 0;
}

.login-container .login-form .inputWrong {
  -webkit-animation-name: spaceboots;
          animation-name: spaceboots;
  -webkit-animation-duration: .35s;
          animation-duration: .35s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.login-container .login-form .inputWrongColor::after {
  opacity: 1;
  -webkit-transition: opacity .25s ease-out;
  transition: opacity .25s ease-out;
}

.login-container .login-form .inputWrongColor2::after {
  opacity: 0;
}

@-webkit-keyframes spaceboots {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes spaceboots {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
  }
}

.login-container .login-form .focus + span::before {
  top: -5px;
}

.login-container .login-form .focus + span::after {
  width: 100%;
}

.login-container .login-form .logbtn {
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  background: linear-gradient(120deg, #002171, #a000ff);
  background-color: rgba(0, 0, 0, 0);
  background-size: 200%;
  color: #fff;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.login-container .login-form .success {
  color: #000;
  background: #2ECC40;
}

.login-container .login-form .logbtn:hover {
  background-position: right;
}

.login-container .login-form .bottom-container {
  margin-top: 60px;
  text-align: center;
  font-size: 20px;
}

.login-container .login-form .bottom-container a {
  color: #0d47a1;
  text-decoration: none;
}

.login-container .hide {
  opacity: 0;
}

.login-container .bigger {
  height: 860px;
}

.login-container .show {
  opacity: 1;
}

.alert-box {
  width: auto;
  height: auto;
  color: white;
  background-color: #1565c0;
  -webkit-box-shadow: 0 0 10px #222222;
          box-shadow: 0 0 10px #222222;
  border-radius: 12px;
  z-index: 9999;
  position: absolute;
  margin: 16px;
  padding: 8px;
  top: -100px;
  right: 0;
  opacity: 0;
  display: block;
  font-size: 1em;
  font-weight: bold;
  -webkit-transition: top 0.5s ease-out 0s;
  transition: top 0.5s ease-out 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.alert-box ion-icon {
  cursor: pointer;
}

.showAndfadeOut {
  -webkit-animation: fadeOut 3s linear forwards;
          animation: fadeOut 3s linear forwards;
  top: 0px;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.opacityVisible {
  opacity: 1;
}

.loadScreen {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(51, 51, 51, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
}

.loadScreen .loadControls {
  min-height: 100px;
  width: 50%;
  border: 5px solid #001f3f;
  background: #f1f1f1;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.loadScreen .loadControls .dropdown {
  position: relative;
  display: inline-block;
  margin-right: auto;
}

.loadScreen .loadControls .dropdown .dropbtn {
  background-color: #001f3f;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.loadScreen .loadControls .dropdown .dropbtn:hover {
  background-color: #002171;
}

.loadScreen .loadControls .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #8d8d8d;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.loadScreen .loadControls .dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  border-bottom: 1px solid #111111;
  text-decoration: none;
  display: block;
}

.loadScreen .loadControls .dropdown .dropdown-content a:hover {
  background-color: #bdbdbd;
}

.loadScreen .loadControls .dropdown .show {
  display: block;
  z-index: 2;
}

.loadScreen .loadSetContainer {
  height: 70%;
  width: 50%;
  border: 5px solid #001f3f;
  background: #3d3d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
}

.loadScreen .loadSetContainer .set-container {
  max-height: calc((100% / 5) - 30px);
  max-width: calc((100% / 5) - 30px);
  margin: 15px;
  display: -ms-grid;
  display: grid;
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.loadScreen .loadSetContainer .set-container span {
  font-weight: 600;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #f1f1f1;
}

.loadScreen .loadSetContainer .set-container img {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  max-width: 50%;
  max-height: 50%;
  position: relative;
  top: 5px;
  margin-left: auto;
  margin-right: auto;
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
}

.loadScreen .loadSetContainer .set-container .imageSet-folder {
  height: 100%;
  width: 100%;
  min-width: 100px;
  min-height: 100px;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  z-index: 1;
  position: relative;
  top: 15px;
}

.loadScreen .loadSetContainer .set-container:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.loadScreen .loadSetContainer .set-container:hover path {
  -webkit-box-shadow: 0px 0px 79px 42px rgba(0, 0, 0, 0.66);
          box-shadow: 0px 0px 79px 42px rgba(0, 0, 0, 0.66);
}

.uploadScreen {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(51, 51, 51, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
}

.uploadScreen .uploadImageContainer {
  height: 70%;
  width: 50%;
  border: 5px solid #001f3f;
  background: #3d3d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  overflow-y: auto;
}

.uploadScreen .uploadImageContainer .newImage {
  height: calc((100% / 3) - 20px);
  width: calc((100% / 3) - 20px);
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.uploadScreen .uploadImageContainer .newImage img {
  max-width: 100%;
  max-height: 100%;
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
}

.uploadScreen .uploadImageContainer .newImage .delete {
  position: relative;
  bottom: 10%;
  left: 45%;
  min-height: 30px;
  max-height: 50px;
  cursor: pointer;
  color: rgba(255, 0, 0, 0.6);
}

.uploadScreen .uploadImageContainer .newImage .delete:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: red;
}

.uploadScreen .uploadImageContainer .newImage ion-icon {
  cursor: default;
  height: 80%;
  width: 90%;
  color: #f1f1f1;
}

.uploadScreen .uploadImageContainer .newImage label {
  cursor: pointer;
  outline: none;
  text-align: center;
  background: none;
  color: #f1f1f1;
  font-weight: 400;
  line-height: 40px;
  border: 1px solid #f1f1f1;
  width: 90%;
  height: 15%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

.uploadScreen .uploadImageContainer .newImage label:hover {
  border: none;
  color: #000;
  border-radius: 30px;
  background: #f1f1f1;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.uploadScreen .uploadImageContainer .newImage label input {
  display: none;
}

.uploadScreen .uploadImageContainer .border {
  border: 2px solid #f1f1f1;
}

.uploadScreen .uploadImageContainer::-webkit-scrollbar {
  background: #464646;
  height: 5px;
}

.uploadScreen .uploadImageContainer::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 4px;
}

.uploadScreen .uploadControls {
  min-height: 100px;
  width: 50%;
  border: 5px solid #001f3f;
  background: #f1f1f1;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.uploadScreen .uploadControls #imageSetTitle {
  height: 50%;
  width: 40%;
  padding: 0 10px;
  border: 1px solid #3d3d3d;
}

.uploadScreen .uploadControls #imageSetTitle:focus {
  outline: none;
}

.uploadScreen .uploadControls #submitImageSet {
  cursor: pointer;
  outline: none;
  background: #111111;
  color: #f1f1f1;
  font-weight: 600;
  border: 1px solid #3d3d3d;
  width: 20%;
  height: 50%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

.uploadScreen .uploadControls #submitImageSet:hover {
  border: none;
  color: #f1f1f1;
  background: #036e10;
}

.cover {
  z-index: 9998;
}

.waitForSave {
  width: 100%;
  height: 100%;
  display: none;
  z-index: 99998;
  position: absolute;
  background-color: rgba(51, 51, 51, 0.5);
}

.waitForSave ion-icon {
  width: 100px;
  height: 100px;
  margin: auto;
  color: #f1f1f1;
  -webkit-animation: spin-load 1s linear;
          animation: spin-load 1s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: initial;
          animation-play-state: initial;
}

@-webkit-keyframes spin-load {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-load {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.display ion-icon {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55px auto;
      grid-template-columns: 55px auto;
  -ms-grid-rows: minmax(50px, 4%) 11% 85%;
      grid-template-rows: minmax(50px, 4%) 11% 85%;
  height: 100%;
  width: 100%;
}

.main .navbar {
  position: relative;
  grid-rows: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #001f3f;
  border-bottom: 1px solid #8d8d8d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main .navbar #logo {
  cursor: pointer;
}

.main .navbar #logo svg {
  min-height: 0;
  margin-left: -35px;
  margin-bottom: -8px;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.main .navbar .nav-upload, .main .navbar .nav-load {
  width: 100%;
  height: 100%;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .navbar .nav-load {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main .navbar .nav-upload {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .navbar .navbar-menu {
  position: absolute;
  right: 0;
  top: 110%;
  color: #000;
  background: #F3F3F3;
  margin-right: 5px;
  border-radius: 8px;
  text-align: center;
  z-index: 2;
  display: none;
}

.main .navbar .navbar-menu::before {
  content: "";
  width: 20px;
  height: 20px;
  background: #F3F3F3;
  position: absolute;
  top: -7px;
  left: 89%;
  z-index: -10;
  -webkit-transform: translateX(-100%) rotate(45deg);
          transform: translateX(-100%) rotate(45deg);
}

.main .navbar .navbar-menu hr {
  border-color: #000;
  margin: 0 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.main .navbar .navbar-menu .menuOption {
  max-height: 100%;
  max-width: 100%;
  padding: 10px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main .navbar .navbar-menu .menuOption:hover {
  background: #000;
  cursor: pointer;
}

.main .navbar .navbar-menu .menuOption:hover ~ hr {
  margin: 0;
}

.main .navbar .navbar-menu .menuOption:hover a {
  color: #F3F3F3;
}

.main .navbar .navbar-menu .menuOption:hover a ion-icon {
  color: #f3f3f3;
}

.main .navbar .navbar-menu .menuOption a {
  text-decoration: none;
  color: #000;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main .navbar .navbar-menu .menuOption a ion-icon {
  max-height: 25px;
  color: #000;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.main .navbar .navbar-menu .menuOption a ion-icon:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main .navbar .open {
  display: block;
}

.main .navbar #loadImageSet, .main .navbar #uploadImageSet {
  width: auto;
  height: 100%;
  padding: 8px 16px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  outline: none;
  color: #000;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.main .navbar #loadImageSet #loadImageSetContainer, .main .navbar #loadImageSet #uploadImageSetContainer, .main .navbar #uploadImageSet #loadImageSetContainer, .main .navbar #uploadImageSet #uploadImageSetContainer {
  height: inherit;
  padding: 0 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .navbar #loadImageSet #loadImageSetContainer ion-icon, .main .navbar #loadImageSet #uploadImageSetContainer ion-icon, .main .navbar #uploadImageSet #loadImageSetContainer ion-icon, .main .navbar #uploadImageSet #uploadImageSetContainer ion-icon {
  padding-left: 10px;
  color: black;
  -webkit-transform: scale(0.65);
          transform: scale(0.65);
}

.main .navbar #loadImageSet:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: #2ECC40;
}

.main .navbar #uploadImageSet:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: #FF4136;
}

.main .navbar ion-icon {
  cursor: pointer;
  min-width: 40px;
  height: 40px;
  color: #efefef;
}

.main .navbar ion-icon:hover {
  color: white;
}

.main .image-slider {
  grid-rows: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #4b6cb7;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#182848), to(#4b6cb7));
  background: linear-gradient(#182848, #4b6cb7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main .image-slider .image-slider-images {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.main .image-slider .image-slider-images .image-container {
  height: 100%;
  min-width: calc(100% / 6);
  position: relative;
  left: 0;
  padding: 15px 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

.main .image-slider .image-slider-images .image-container .lock {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 99998;
  background-color: rgba(51, 51, 51, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main .image-slider .image-slider-images .image-container .lock:hover {
  cursor: not-allowed;
}

.main .image-slider .image-slider-images .image-container .lock .lock-content {
  min-width: 40%;
  min-height: 40%;
  background-color: #f1f1f1;
  font-weight: 600;
  text-align: center;
  padding: .5em;
  margin: 1em;
  border-radius: 10px;
}

.main .image-slider .image-slider-images .image-container img {
  max-width: 100%;
  max-height: 100%;
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
}

.main .image-slider .image-slider-images .image-container ion-icon {
  min-height: 20px;
  max-height: 20%;
  max-width: 20%;
  position: absolute;
  top: 0;
  right: 0;
  color: #ce6262;
}

.main .image-slider .image-slider-images .image-container:hover {
  border-bottom: 5px solid #182848;
  background: rgba(255, 255, 255, 0.1);
}

.main .image-slider .image-slider-images .waitForLoad {
  width: 100%;
  height: 100%;
  display: none;
  z-index: 99998;
  position: absolute;
  background-color: rgba(51, 51, 51, 0.5);
}

.main .image-slider .image-slider-images .waitForLoad ion-icon {
  width: 100px;
  height: 100px;
  margin: auto;
  color: #f1f1f1;
  -webkit-animation: spin-load 1s linear;
          animation: spin-load 1s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: initial;
          animation-play-state: initial;
}

@keyframes spin-load {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.main .image-slider .image-slider-images .active {
  border-bottom: 5px solid #036e10;
  background: rgba(255, 255, 255, 0.1);
}

.main .image-slider .arrow-left, .main .image-slider .arrow-right {
  height: 100%;
  width: 90px;
  padding: 0 20px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.main .image-slider .arrow-left:hover {
  -webkit-box-shadow: inset 85px 0px 40px -80px rgba(0, 0, 0, 0.8);
          box-shadow: inset 85px 0px 40px -80px rgba(0, 0, 0, 0.8);
}

.main .image-slider .arrow-right:hover {
  -webkit-box-shadow: inset -85px 0px 40px -80px rgba(0, 0, 0, 0.8);
          box-shadow: inset -85px 0px 40px -80px rgba(0, 0, 0, 0.8);
}

.main .image-slider ion-icon {
  height: 100%;
  width: 100%;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.main .image-slider ion-icon:hover {
  color: white;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.main .image-slider #imageLast {
  padding-left: 10px;
}

.main .image-slider #imageNext {
  padding-right: 10px;
}

.main .leftbar {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .leftbar .buttons {
  width: 100%;
  min-height: 40%;
  height: 100%;
  background: #F3F3F3;
  border-right: 1px solid #bdbdbd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .leftbar .buttons svg {
  fill: #000;
}

.main .leftbar .buttons .shapes, .main .leftbar .buttons .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
}

.main .leftbar .buttons .controls {
  position: relative;
  left: 4px;
}

.main .leftbar .buttons .controls #undo svg {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.main .leftbar .buttons .controls #redo svg {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.main .leftbar .buttons button {
  height: 80px;
  width: 100%;
  margin: 0px 17px 0px 0;
  border: none;
  background: none;
  cursor: pointer;
}

.main .leftbar .buttons button svg {
  height: 100%;
  padding: 10px;
  width: 90%;
}

.main .leftbar .buttons button:focus {
  outline: none;
}

.main .leftbar .buttons .disabled {
  height: 80px;
  width: 100%;
  margin: 0px 17px 0px 0;
  position: relative;
  z-index: 10;
  cursor: not-allowed;
}

.main .leftbar .buttons .disabled:hover button {
  cursor: not-allowed;
}

.main .leftbar .buttons .disabled:hover button svg {
  fill: red;
}

.main .leftbar .buttons .container {
  height: 80%;
  padding: 10px 0;
  border-radius: 0 10px 10px 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.main .leftbar .buttons .container svg {
  -webkit-transform: scale(1);
          transform: scale(1);
  position: relative;
  left: 3px;
}

.main .leftbar .buttons .active .container {
  background: #000;
}

.main .leftbar .buttons .active .container svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  fill: #f1f1f1;
}

.main .leftbar .buttons .active .container svg path {
  stroke: #f1f1f1;
  stroke-width: 2px;
}

.main .leftbar .buttons .shapes button:hover .container {
  background: #000;
  -webkit-box-shadow: 5px 6px 14px -4px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 6px 14px -4px rgba(0, 0, 0, 0.5);
}

.main .leftbar .buttons .shapes button:hover .container svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  fill: #f1f1f1;
}

.main .leftbar .buttons .shapes button:hover .container svg path {
  stroke: #f1f1f1;
  stroke-width: 2px;
}

.main .leftbar .buttons .controls button:hover svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.main .leftbar .buttons .controls button:hover svg path {
  stroke: #000;
  stroke-width: 2px;
}

.main .leftbar .buttons .controls #undo:hover svg {
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.main .leftbar .buttons .controls #redo:hover svg {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.main .leftbar .buttons #coordinates, .main .leftbar .buttons #hoveredPolygons {
  height: 200px;
}

.main .app-Container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  position: relative;
  max-height: 100%;
  background-color: #F3F3F3;
  -webkit-box-shadow: inset 2px 0 17px 5px rgba(0, 0, 0, 0.3);
          box-shadow: inset 2px 0 17px 5px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .app-Container #drawBoard, .main .app-Container #imageBoard {
  position: absolute;
  border: 1px solid grey;
  background-color: rgba(0, 0, 0, 0);
}

.main .app-Container #drawBoard {
  background-color: rgba(0, 0, 0, 0);
}

.main .app-Container #imageBoard {
  background-color: white;
}

.main .crosshair {
  cursor: crosshair;
}

.main .shift-pressed {
  cursor: move;
}

ion-icon {
  color: #001f3f;
}

.polygon-wrapper {
  position: absolute;
  overflow: auto;
  overflow-y: hidden;
  -webkit-box-shadow: 0 0 10px #7e7e7e;
          box-shadow: 0 0 10px #7e7e7e;
  border-radius: 10px;
  bottom: 0px;
  right: 0px;
  height: 580px;
  width: 360px;
  margin: 16px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 92% 95%;
          transform-origin: 92% 95%;
  -webkit-transition: -webkit-transform .25s ease-out;
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.polygon-wrapper.openWrapper {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.polygon-wrapper .polygon-editor {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 20% 30% 45% 5%;
      grid-template-rows: 20% 30% 45% 5%;
  background-color: #f1f1f1;
  padding: 60px 40px 40px 40px;
  border-radius: 10px;
  border: 1px solid black;
  height: 0px;
  width: 0px;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

.polygon-wrapper .polygon-editor.openEditor {
  height: 100%;
  width: 100%;
}

.polygon-wrapper .polygon-editor ion-icon {
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.polygon-wrapper .polygon-editor ion-icon:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.polygon-wrapper .polygon-editor .custom-select {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  position: relative;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* style the items (options), including the selected item: */
  /* Style items (options): */
  /* Hide the items when the select box is closed: */
}

.polygon-wrapper .polygon-editor .custom-select select {
  display: none;
}

.polygon-wrapper .polygon-editor .custom-select .select-selected {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1.2em;
  width: 100%;
  border-radius: 5px;
  background: white;
}

.polygon-wrapper .polygon-editor .custom-select .select-selected > * {
  padding: 0px 5px;
}

.polygon-wrapper .polygon-editor .custom-select .select-selected .selected-text {
  display: inline-block;
  min-width: 5px;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.polygon-wrapper .polygon-editor .custom-select .select-selected .selected-text::-webkit-scrollbar {
  display: none;
}

.polygon-wrapper .polygon-editor .custom-select .select-selected::after {
  position: absolute;
  content: "";
  top: 10px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000 transparent transparent transparent;
}

.polygon-wrapper .polygon-editor .custom-select .select-selected.select-arrow-active::after {
  border-color: transparent transparent #000 transparent;
  top: 6px;
}

.polygon-wrapper .polygon-editor .custom-select .select-items div, .polygon-wrapper .polygon-editor .custom-select .select-selected {
  padding: 4px 8px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.polygon-wrapper .polygon-editor .custom-select .select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.polygon-wrapper .polygon-editor .custom-select .select-items > * {
  overflow: hidden;
}

.polygon-wrapper .polygon-editor .custom-select .select-hide {
  display: none;
}

.polygon-wrapper .polygon-editor .custom-select .select-items div:hover, .polygon-wrapper .polygon-editor .custom-select .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.polygon-wrapper .polygon-editor .attribute-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  position: relative;
}

.polygon-wrapper .polygon-editor .attribute-container #attributeInput {
  border: none;
  margin: 8px 0px;
  border-bottom: 2px solid #adadad;
  font-size: 15px;
  color: #333;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.polygon-wrapper .polygon-editor .attribute-container .suggestions-list {
  position: absolute;
  height: auto;
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  top: 50px;
  z-index: 1;
  display: none;
}

.polygon-wrapper .polygon-editor .attribute-container .suggestions-list::-webkit-scrollbar {
  background: #fff;
  width: 10px;
}

.polygon-wrapper .polygon-editor .attribute-container .suggestions-list::-webkit-scrollbar-track {
  border-radius: 8px;
}

.polygon-wrapper .polygon-editor .attribute-container .suggestions-list::-webkit-scrollbar-thumb {
  background: #000;
}

.polygon-wrapper .polygon-editor .attribute-container .suggestions-list .attribute-suggestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #f1f1f1;
  height: 35px;
  width: 100%;
  padding: 5px 15px;
  font-weight: 600;
  background: #001f3f;
  -webkit-transition: .2s;
  transition: .2s;
}

.polygon-wrapper .polygon-editor .attribute-container .suggestions-list .attribute-suggestion:hover {
  cursor: pointer;
  background: #020b90;
}

.polygon-wrapper .polygon-editor .attribute-container .suggestions-list .attribute-suggestion #text {
  max-width: 80%;
}

.polygon-wrapper .polygon-editor .attribute-container .suggestions-list .attribute-suggestion #count {
  max-width: 20%;
}

.polygon-wrapper .polygon-editor .attribute-container .show {
  display: block;
}

.polygon-wrapper .polygon-editor .attribute-container .attributes-list {
  width: 100%;
  height: 40px;
  margin: 8px 0px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.polygon-wrapper .polygon-editor .attribute-container .attributes-list::-webkit-scrollbar {
  background: #ddd;
  height: 5px;
}

.polygon-wrapper .polygon-editor .attribute-container .attributes-list::-webkit-scrollbar-track {
  border-radius: 8px;
}

.polygon-wrapper .polygon-editor .attribute-container .attributes-list::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 4px;
}

.polygon-wrapper .polygon-editor .attribute-container .attributes-list .attribute {
  padding: 4px 8px;
  margin: 0px 4px;
  color: #000;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px;
  -webkit-transition: 1s;
  transition: 1s;
}

.polygon-wrapper .polygon-editor .attribute-container .attributes-list .attribute .attribute-text {
  padding: 0px 6px;
}

.polygon-wrapper .polygon-editor .text-container {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 90%;
      grid-template-rows: 10% 90%;
  position: relative;
}

.polygon-wrapper .polygon-editor .text-container .text-title {
  color: #333;
  margin: 8px 0px;
}

.polygon-wrapper .polygon-editor .text-container .text-input {
  background-color: #fff;
  border-radius: 5px;
  color: #333;
  width: calc(100% - 40px);
  height: calc(100% - 32px);
  margin: 16px 0;
  outline: none;
}

.polygon-wrapper .polygon-editor .text-container #saveTextInput {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 40px;
  margin: 10px 0;
}

.polygon-wrapper .polygon-editor .text-container .saved {
  border-color: #2ECC40;
}

#toggleEditor {
  position: absolute;
  z-index: 9000;
  height: 30px;
  width: 30px;
  bottom: 0;
  right: 0;
  margin: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#toggleEditor #editorClosedIcon, #toggleEditor #editorOpenIcon {
  position: absolute;
  height: 100%;
  width: 100%;
}

#toggleEditor ion-icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.deletePolygon {
  position: absolute;
  right: 60px;
  bottom: 0px;
  z-index: 9000;
  height: 30px;
  width: 30px;
  margin: 24px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: 200% 50%;
          transform-origin: 200% 50%;
  -webkit-transition: -webkit-transform .25s ease-out;
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.showIcon {
  height: 30px;
  width: 30px;
}

.hideIconBySize {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.hideIcon {
  visibility: hidden;
}

.testME, .testMeMORE {
  color: #00B7FF;
}

.testMeMORE {
  color: green;
}
/*# sourceMappingURL=style.css.map */